
[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=16
subdivisions=1
width=416
height=416
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

# 0 先保留
# [convolutional]
# batch_normalize=1
# filters=32
# size=3
# stride=1
# pad=1
# activation=leaky

# 1:64
# 1
[RepvggBlock]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=relu

# 4:64x2
# 2 --- 5(i)
[RepvggBlock]
batch_normalize=1
filters=128
size=3
stride=2
pad=1
activation=relu

# 3 --- 9
[RepvggBlock]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=relu

# 4 --- 13
[RepvggBlock]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=relu

# 5
[RepvggBlock]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=relu

# 6:128x2
# 6
[RepvggBlock]
batch_normalize=1
filters=256
size=3
stride=2
pad=1
activation=relu

# 7
[RepvggBlock]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

# 8
[RepvggBlock]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

# 9
[RepvggBlock]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

# 10
[RepvggBlock]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

# 11
[RepvggBlock]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=relu

# 16:256x2
# 12
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=2
pad=1
activation=relu

# 13
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 14
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 15
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 16
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 17
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 18
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 19
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 20
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 21
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 22
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 23
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 24
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 25
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 26
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 27 --- 105
[RepvggBlock]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=relu

# 1:512x4
# 28 --- 109
[RepvggBlock]
batch_normalize=1
filters=2048
size=3
stride=2
pad=1
activation=relu


######################
# 75
# 29 --- 113
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

# 30 --- 114
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

# 31 ---115
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

# 32 --- 116
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

# 33 --- 117
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=1
activation=leaky

# ----
# 34 --- 118
[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=1024
activation=leaky

# 35 --- 119
[convolutional]
size=1
stride=1
pad=1
filters=18
activation=linear

# 36 --- 120
[yolo]
mask = 6,7,8
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
classes=1
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

# 37 --- 121
[route]
layers = -4

# 38 --- 122
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 26



[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=512
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=18
activation=linear


[yolo]
mask = 3,4,5
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
classes=1
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1



[route]
layers = -4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 10



[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
size=3
stride=1
pad=1
filters=256
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=18
activation=linear


[yolo]
mask = 0,1,2
anchors = 10,13,  16,30,  33,23,  30,61,  62,45,  59,119,  116,90,  156,198,  373,326
classes=1
num=9
jitter=.3
ignore_thresh = .7
truth_thresh = 1
random=1

